
html 
    head
        title="PUG"
    body
        div
            ul 
             each product in data 
                li= product.title 
            a(href="/")= "Volver a cargar productos"     